@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/js/signalR-client.js"> </script>
}

<div class ="container"> 
    <div class="row">
        <div class="col-md-8 offset-2">

            <button type="button" class="btn btn-primary">
                Bağlı Client Sayısı <span class="badge text-bg-secondary" id="slm">4</span>
            </button>
            <button class="btn btn-primary" type="submit" id ="caller-button">Only Caller</button>
            <button class="btn btn-primary" type="submit" id ="others-button">Button For Others</button>
        </div>
    </div>
</div>