@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/js/signalR-client.js"> </script>
}

<div class ="container"> 
    <div class="row">
        <div class="col-md-8 offset-2">

            <button type="button" class="btn btn-primary">
                Bağlı Client Sayısı <span class="badge text-bg-secondary" id="slm">4</span>
            </button>
            <button class="btn btn-primary" type="submit" id ="caller-button">Only Caller</button>
            <button class="btn btn-primary" type="submit" id ="others-button">Button For Others</button>
            <div>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Connection ID</label>
                        <input type="text" class="form-control" id="client-by-id" aria-describedby="connectionID">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                   
                    <button type="button" class="btn btn-primary" id="client-by-id-button">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>